/* .row-header{
  margin: 0px auto;
  padding: 0px;
}
.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
    padding: 5rem 1rem ;
    margin-bottom: 3rem;
    background:linear-gradient(salmon,white);
    border-radius: .2rem;
  }
.footer{
    margin-top: 15px;
    background:linear-gradient(white,salmon);
    padding: 2rem 1rem;
}
#logoPic{
  height: 135px;
  width: 145px;
}
#logo_brand{
  height: 50px;
  width: 60px;
}
nav{
  background-color: indigo;
}

#res_btn{
  background-color: #A91B0D;
  border-color: #A91B0D;
  color: white;
}

#chef-pic{
  height: 150px;
  width: 150px;
}
#pizza-img{
  height: 100px;
  width: 100px;
  
}
.card{
  margin: 10px;
}
#reserveform{

  color: white;
}
.address{
  font-size: 80%;
  margin: 0px ;
  color: #0f0f0f;
} */